@import "../../utils/variables";

.category-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-width: $min-card-width;
  gap: 1rem;
}

.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;
}
