@import "../../utils/variables";

.directory-container {
  width: 100%;
  min-width: $min-card-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8% auto;
}

@media (max-width: $tablet-breakpoint) {
  .directory-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.7fr));
    column-gap: 20px;
  }
}
