@import "../../utils/variables";

.authentication-container-for-user-login {
  display: flex;
  min-width: $min-card-width;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
}
.authentication-container-for-loged-in-user,
.authentication-container-for-user-login {
  margin: 10% auto;
  font-size: 1.2rem;
}
