.payment-methods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4rem auto 0 auto;
  & > div,
  & > button {
    min-width: 200px;
    overflow: hidden;
    font-size: 0.95rem;
  }
}
